:host ::ng-deep .tab-content {
    // padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: 0;
    min-height: 500px;
}
:host ::ng-deep .tab-content .tab-wrapper {
    padding: 1rem;
    min-height: calc(100vh - 6rem);
}
:host ::ng-deep span.close {
    margin-left: .5rem;
}