<div class="pcoded">
  <div class="pcoded-inner-navbar main-menu" appAccordion>
    <div *ngFor="let asideItems of menuItems.getAll()" class="d-color">
      <div class="pcoded-navigation-label" [attr.menu-title-theme]="menuTitleTheme">{{asideItems.label}}</div>
      <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder"
        [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder"
        *ngFor="let asideItem of (asideMenu$ | async)" appAccordionLink group="{{asideItem.state}}">
        <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink
          group="{{asideItem.state}}">
          <a [routerLinkActive]="['active']" class="ripple" href="{{asideItem.external}}"
            target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.shortLabel }}</b></span>
            <span class="pcoded-mtext">{{ asideItem.name }}</span>
            <span *ngFor="let asideBadge of asideItem.badge"
              class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
            <span class="pcoded-mcaret"></span>
          </a>
        </li>

        <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink
          group="{{asideItem.state}}">
          <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/', asideItem.mainState, asideItem.state]"
            target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
            *ngIf="asideItem.mainState; else mainContent">
            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.shortLabel }}</b></span>
            <span class="pcoded-mtext">{{ asideItem.name }}</span>
            <span *ngFor="let asideBadge of asideItem.badge"
              class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ng-template #mainContent>
            <a [routerLinkActive]="['active']" class="ripple" [routerLink]="['/', asideItem.state]"
              target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
              <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.shortLabel }}</b></span>
              <span class="pcoded-mtext">{{ asideItem.name }}</span>
              <span *ngFor="let asideBadge of asideItem.badge"
                class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </ng-template>
        </li>
        <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'"
          class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon" appAccordionLink
          group="{{asideItem.state}}">
          <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
            <div class="ripple menu-ripple"></div>
            <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b class="sr-only">{{ asideItem.shortLabel }}</b></span>
            <span class="pcoded-mtext">{{ asideItem.name }}</span>
            <span *ngFor="let asideBadge of asideItem.badge"
              class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ul class="pcoded-submenu">
            <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
              <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                <a *ngIf="asideChildren.type !== 'tab'" [routerLinkActive]="['active']"
                  [routerLink]="['/', asideItem.state, asideChildren.state]"
                  target="{{asideChildren.target ? '_blank' : '_self'}}">
                  <div class="ripple menu-ripple"></div>
                  <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                  <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                  <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                    class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <a *ngIf="asideChildren.type === 'tab'" (click)="onOpenTab(asideChildren)">
                  <div class="ripple menu-ripple"></div>
                  <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                  <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                  <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                    class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" class="pcoded-hasmenu"
                [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon"
                *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" href="javascript:;"
                  appAccordionToggle>
                  <div class="ripple menu-ripple"></div>
                  <span class="pcoded-micon"><i class="icon-direction-alt"></i></span>
                  <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                  <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                    class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                  <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                    <li [routerLinkActive]="['active']">
                      <a [routerLinkActive]="['active']"
                        [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]"
                        target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                        <div class="ripple menu-ripple"></div>
                        <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                        <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                        <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                          class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                  </ng-template>
                </ul>
              </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-wrapper">
    <router-outlet>
      <title></title>
      <app-spinner></app-spinner>
    </router-outlet>
  </div>
</div>